# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
builds/
ToConsider/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.psd
*.psd.meta
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.zip
*.7z
Assets/!REFACTOR2.zip.meta
movingFortressBuildy/
movingFortressPromo/
.vs/
